causal_conv1d==1.4.0
composer==0.30.0
datasets==3.0.1
einops==0.8.1
h5py==3.11.0
mamba_ssm==2.2.2
matplotlib==3.10.3
numpy==2.2.6
omegaconf==2.3.0
scipy==1.15.3
streaming==0.1.2
timm==0.4.12
torch==2.4.0
torchmetrics==1.7.1
tqdm==4.66.4
transformers==4.44.2
triton==3.0.0
wandb==0.19.11
